title {
    color:deeppink;
    background-color: black;
}

h1 {
    color: purple;;
    width: fit-content;
    margin: auto;
    text-align: center;
}

iframe {
    display: block;
    margin: auto;
}

body {
    background-color: pink;
}