title {
    color:deeppink;
    background-color: black;
}

h1 {
    color: purple;;
    width: fit-content;
    margin: auto;
    text-align: center;
    border-width: 400px;
    border-color: blueviolet;
}

iframe {
    display: block;
    margin: auto;
}

body {
    background-color: pink;
}